<form  [formGroup]="form" (ngSubmit)="ingresar()" class="container">
    <div class="usuario">
        <img src="img/usuario.png" alt="usuario">
    </div>
   
    <mat-form-field class="full-width" >
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" >
      </mat-form-field >
      <mat-form-field class="full-width">
        <mat-label >Contraseña</mat-label>
        <input  matInput [type]="hide() ? 'password' : 'text'"   formControlName="contrasena"/>
        <button
        
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button [disabled]= "form.invalid" type="submit" mat-flat-button>Logearse</button>
    </form>

