<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <div class="botones-nav">
    <button mat-flat-button routerLink="/dashboard/inicio">Inicio</button>
    <button mat-flat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-flat-button routerLink="/dashboard/registro">Registro</button>
  </div>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Cuenta de usuario">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Configuración</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>